body {
    background-color: rgb(248, 234, 234);
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 260px 250px;
    column-gap: 20px;
}

.junimo {
    width: 60px;
    height: 60px;
}

.topo{
    top: 20px;
    grid-column: 1/2;
    grid-row: 1;
    position: relative;
}

.campo1 {
    background-color: white;
    width: 900px;
    height: 600px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 2/3;
}

.campo2 {
    background-color: white;
    width: 250px;
    height: 600px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2;
}

.imgCampo2 {
    width: 250px;
    height: 100px;
    padding: 25px;
}

.textoCampo2 {
    /* background-color: aqua; */
    padding: 25px;
}

.campo3 {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 3;
}

.pesquisa {     
    border-radius: 10px;
    width: 835px;
    height: 50px;
}

.resultado {
    padding: 25px;
    display: grid
}