body{
    background-color: rgb(248, 234, 234);
}

html, body {
    height: 100%;
}

#junimo{
    width: 40px;
    height: 40px;
}

#esquerda{
    height: 100%;
    border-radius: 10px;
}
#direita{
    height: 100%;
    border-radius: 10px;
}

footer{
    bottom:0;
    width:100%;
    height: auto;
    background-color: #DFBFBF;
}

#botaosearch{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: 1px ;
    }
#barra{
height: auto;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}